.principal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.nav {
    width: 100%;
    height: 10vh;
    background-color: rgb(235, 187, 232); 
    border: 2px solid black;
    display: flex;
} 
.portafolio {
    width: 100%;
    height: 100vh;
    background: url(portafolio222.gif) center/cover no-repeat;
    border: 2px solid black;
}
.contacto {
   display: flex;
    height: 90vh;
    background: url(paisaje-ilustracion-atardecer-en-el-bosque-montanas_1920x1080_12274.jpg) center / cover no-repeat;
    border: 2px solid black;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
ul  {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
}
.titulo{
    width: 50%;
    display: flex;
    align-items: center;
    margin: 0 0 0 22px;
}
.sobre {
    margin: 0 0 0 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
    height: 50vh;
    background-color: rgb(231, 231, 231);
    border: 5px solid black;
}
h3 {
    margin: 0 au;
} 
.titulo-nombre {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: larger;
}
.actividad {
   margin: 0 0 0 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
    height: 50vh;
    background-color: rgb(231, 231, 231);
    border: 5px solid black;
}
