/* un mini-reset basico */
body{
    background-image: url(paisaje-ilustracion-atardecer-en-el-bosque-montanas_1920x1080_12274.jpg);
background-size: cover;
background-position: center;
height: 100vh; /* o el alto que desees */
font-family: arial, sans-serif;
line-height: 1.6;
background-color: #f4f4f4;    
}
nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    color: #432c56;
    background-color: antiquewhite;
}
nav a:hover {
    color: #814997;
}
img {
    display: flex;
    margin: 0px;
    size: 0px;
    padding:0px; 
     box-sizing: border-box;  
} 
* {
    margin: 0;
    padding: 0;
    size: 15px;
    box-sizing: border-box;  
    border-radius: 0;
    border-bottom: #f4f4f4;
}

.titulo{
    background-color: rgb(187, 156, 174);
    text-align: center;
    margin: 10px;
    font-size: xx-large;
} 
.actividad{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.projects{
    text-align: center;
    padding: 20px;
    justify-content: space-around;
} 
    .btn-border {
    background: linear-gradient(180deg, #ff6f61 0%, #814997 50%, #2e1a47 100%);
    color: white;
    font-family: sans-serif;
    color: #432c56;
    border: 2px solid #814997;
    padding: 10px 20px;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
    }
.col-md-6 {
    text-align:right;
    justify-content: space-evenly;
}
.section{
    height: 85vh;
    box-shadow: 0 0 30px 15px rgb(52, 152, 219,0.7);
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}
.final{
   position: relative;
   position: absolute;
   bottom: 0;
   margin: 0;
}
